!!!HTML5
%html{"class" => "no-js"}
  %head
    %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
    %title= content_for?(:page_title) ? yield(:page_title) : "Roqua Vragenlijsten"
    = content_for?(:override_css) ? yield(:override_css) : (stylesheet_link_tag('quby/screen', :media => 'screen, projection'))
    = stylesheet_link_tag 'quby/redmond/jquery-ui-1.8.7.custom.css'
    = stylesheet_link_tag "quby/print", :media => "print"
    /[if IE]
      = stylesheet_link_tag 'quby/ie.css', :media => 'screen, projection'
    = javascript_include_tag "quby/application.js"
    = javascript_include_tag "quby/jquery.ba-hashchange.min.js"
    = javascript_include_tag "quby/printer"
    //= javascript_include_tag "jquery.address-1.3.min.js"  
    //= javascript_include_tag "jquery.custominput.js"
    - unless Rails.env.development?
      = javascript_include_tag "quby/disable_keys.js"
    //= javascript_include_tag "modernizr-1.5.min.js"
    = javascript_include_tag "quby/" + controller.controller_name
    :css
      #{yield(:extra_css)}
  
  %body
    #masthead

    #content
      .flash
        - if flash[:error]
          .error= flash[:error]
        - if flash[:alert]
          .alert= flash[:alert]
        - if flash[:notice]
          .notice= flash[:notice]
        - if flash[:success]
          .success= flash[:success]
      = yield

    .x_container  
    
    #mastfoot
      RoQua Vragenlijsten

    %noscript
      #noscript-warning Deze vragenlijst heeft ondersteuning voor JavaScript nodig.
