- available_width = question.presentation == :horizontal ? 100 : 66
- classes = [os_cycle]
- classes << question.question_group if question.question_group
- itemkey = "item_#{question.key}"
%td.item{:id => itemkey, :class => classes, :style => "width:#{available_width/(table.columns)}%", :rowspan => question.row_span, :colspan => question.col_span, :data => question.extra_data}
  .fields{:class => question.type, :id => question.html_id}
    - cls = [question.type]
    - cls << "sized" if question.size
    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => cls, :size => (question.size || 30), :data => {'field-key' => question.key}
    = raw question.unit
    = validations
