- available_width = question.presentation == :horizontal ? 100 : 66
- classes = [os_cycle]
- classes << question.question_group if question.question_group
- itemkey = "item_#{question.key}"
%td.item{:id => itemkey, :class => classes, :style => "width:#{available_width/(table.columns)}%", :rowspan => question.row_span, :data => question.extra_data}
  %span.nowrap.fields{:id => question.html_id, :class => question.type}
    = text_field :answer, question.day_key || "#{question.key}_dd",   :placeholder => "DD",   :size => 2, :autocomplete => question.autocomplete
    %span= "-"
    = text_field :answer, question.month_key || "#{question.key}_mm",   :placeholder => "MM",   :size => 2, :autocomplete => question.autocomplete
    %span= "-"
    = text_field :answer, question.year_key || "#{question.key}_yyyy", :placeholder => "JJJJ", :size => 4, :autocomplete => question.autocomplete
  = validations