/ Begin _item.html.haml
- subquestion ||= false
- disabled ||= false
- itemclasses = [item.type, item.presentation]
- @answer.to_hide ||= []
- if item.is_a?(Items::Question)
  - return if item.table
  - itemclasses << 'hidden' if @answer.to_hide.include?(item.key) 
  - doublewide = item.options.size <= 5 
  - itemclasses << "errors" unless @answer.errors[item.key].empty?
  - itemclasses << item.question_group if item.question_group
  - itemclasses << 'subitem' if subquestion
  - if(item.disallow_bulk or (not item.subquestions.andand.empty?) or subquestion)
    - itemclasses << "notbulkitem"
  - else
    - itemclasses << "bulkitem"
    -if item.type != :hidden
      - itemclasses << cycle('evenRow', 'oddRow', :name => "rowbg")
      - if different_header(item, previous_item)
        = render :partial => "answers/bulk/item_radio_check_scale_options", :object => item
  

- if item.raw_content and item.class.name != "Items::Text" 
  - if item.raw_content[:bulk]
    = raw item.raw_content[:bulk]
  - else 
    = raw item.raw_content
- else
  .item{:class => itemclasses}
    - case item.class.name
    - when "Items::Css"
      :css
        #{item.raw_content}
    - when "Items::Text"
      - if item.display_in.andand.include?(:bulk)
        .text
          = raw item.text
      -#Skipping text in bulk view
    - when "Items::Question" 
      - return if item.type == :hidden 
      - return if (item.display_modes and (not item.display_modes.include?(:bulk)))
      = render :partial => 'answers/shared/validations', :locals => {:question => item, :answer => @answer}     
               
      - case item.type
      - when :string
        = render :partial => "answers/bulk/item_question_string", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :textarea
        = render :partial => "answers/bulk/item_question_textarea", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :integer, :float
        = render :partial => "answers/bulk/item_question_number", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :radio, :scale
        = render :partial => "answers/bulk/item_question_radio", :locals => {:question => item, :subquestion => subquestion, :previous_item => previous_item, :next_item => next_item, :disabled => disabled}
      - when :date
        = render :partial => "answers/bulk/item_question_date", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :check_box
        = render :partial => "answers/bulk/item_question_check_box", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :select
        = render :partial => "answers/bulk/item_question_select", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :quantity
        = render :partial => "answers/bulk/item_question_quantity", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - else
        %strong
          Error: unknown question type
          = item.type
          for question
          = item.key
    - when "Items::Table"
      = render :partial => "answers/table/table", :locals => {:table => item, :to_hide => @answer.to_hide}
    - else
      Error: unknown item type
      = item.class.name
      for question
      = item.key
/ End _item.html.haml
