%label.main(for="answer_#{question.key}")
  = raw(question.title)
  - subq = question.options.last.questions.first
  - if subq.andand.presentation == :next_to_title and subq.type == :string
    = render :partial => "answers/shared/inline_text_field", :locals => {:answer => @answer, :question => subq}
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id, :class => "options#{question.options.size}"}
    - show_values = (question.show_values == true or question.show_values == :all or question.show_values == :bulk)
    - question.options.each do |opt|
      - next if opt.inner_title
      - checked = @answer.send(opt.key) == 1
      - next if( opt.hidden and not checked)
      - cls = ["optionwidth#{question.options.size}"]
      - cls << "show_values" if show_values
      .option{ :for => question.key, :class => cls}
        .radiocheckwrapper
          - if question.uncheck_all_option == opt.key
            -attrs = {:onClick => "setAllCheckboxes(this.checked, '#{question.check_all_option}', '#{question.uncheck_all_option}', '#{question.key}', ''); handleDisableCheckboxSubQuestions(this);", :class => subquestion ? "subinput" : ""}
          - elsif question.check_all_option == opt.key
            -attrs = {:onClick => "setAllCheckboxes(this.checked, '#{question.check_all_option}', '#{question.uncheck_all_option}', '#{question.key}', '1'); handleDisableCheckboxSubQuestions(this);", :class => subquestion ? "subinput" : ""}
          - else
            -attrs = {:onClick => "correctAllNothingCheckboxes(this.checked, '#{question.check_all_option}', '#{question.uncheck_all_option}'); handleDisableCheckboxSubQuestions(this);", :class => subquestion ? "subinput" : ""}
          -if disabled
            -attrs[:disabled] = ""
          = check_box(:answer, "#{opt.key}", attrs)
        - if show_values
          .value= opt.value
        .labelwrapper
          %label(for="answer_#{opt.key}")
            %span
              :markdown
                #{raw opt.description}
        - unless opt.questions.empty?
          .subquestions= render :partial => "answers/bulk/item", :collection => opt.questions,  :locals => {:subquestion => true, :disabled => !checked}
