/ Begin _panel.html.haml
- classes = ['panel', 'hidden']
- if panel_counter == 0
  - classes << ['first']
- if panel_counter == panels.length-1
  - classes << 'last-panel'

%fieldset{:id => "panel#{panel_counter}", :class => classes}
  :javascript
    panel_validations["panel#{panel_counter}"] = #{get_validation_json(panel.validations)};

  /.panel_index= panel_counter + 1

  - if panel.title
    %h1&= panel.title

  = render :partial => "answers/paged/item", :collection => panel.items

  .buttons
    - if panel_counter < panels.length - 1
      .prev
        = submit_tag raw("&larr; Vorige vraag")
      .abort
        - if questionnaire.abortable 
          = submit_tag "Onderbreken"
        - else
          &nbsp;
      .next
        = submit_tag raw("Volgende vraag &rarr;")
    - else
      .prev
        = submit_tag raw("&larr; Vorige vraag")
      -#.print
      -#  %a(href="#" onClick="window.print(); return false" style="margin-right: 1em") Print antwoorden
      .save
        = submit_tag "Klaar"
    = render :partial => "answers/hotkey_dialog"
  

/ End _panel.html.haml