:javascript
  var panel_validations = {}
  //for setting values of raw_content
  var extra_question_values = #{@answer.extra_question_values}
  //for showing validations of raw content
  var extra_failed_validations = #{@answer.extra_failed_validations}
  
  
- content_for(:page_title, @questionnaire.title)
- content_for(:extra_css, @questionnaire.extra_css)

- target = params[:target_top] ? "_top" : nil

- form_tag questionnaire_answer_path(@questionnaire, @answer), :method => :put, :target => target, :class => [@questionnaire.key, "paged"].join(" "), :autocomplete => "off" do
  = render :partial => "answers/paged/panel", :collection => @questionnaire.panels, :locals => {:panels => @questionnaire.panels, :questionnaire => @questionnaire}

- if @questionnaire.leave_page_alert
  #leave_page_alert.hidden= @questionnaire.leave_page_alert
    

= render :partial => "answers/modal_iframe"