- insert = nil
- subq = question.options.last.andand.questions.andand.first
- if subq.andand.presentation == :next_to_title and subq.type == :string
  -insert = render :partial => "quby/answers/shared/inline_text_field", :locals => {:answer => @answer, :question => subq}

=marukufix(question.title, "answer_#{question.key}", insert)
- show_values = (question.show_values == true or question.show_values == :all or question.show_values == :paged)
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    - question.options.each do |opt|
      - checked = @answer.send(question.key) == opt.key.to_s
      - next if (opt.hidden and not checked)
      - handle_hide_questions(question,opt,@questionnaire) if checked
      - if opt.inner_title
        .inner-title
          :markdown
            #{raw opt.description}
      - else
        .option{:class =>"#{show_values ? 'show_values' : nil}", :for => question.key}
          .radiocheckwrapper
            - radio_classes = [question.type]
            - radio_classes << "subinput" if subquestion
            - radio_classes << "deselectable" if question.deselectable
            = radio_button(:answer, question.key, opt.key,
              {:hides => opt.hides_questions.to_json || "[]", :unhides => opt.unhides_questions.to_json ||"[]", :class => radio_classes, :disabled => disabled ? "" : nil})
          - if show_values
            .value= opt.value
          .labelwrapper
            %label(for="answer_#{question.key}_#{opt.key}")
              %span
                :markdown
                  #{raw opt.description}
          - unless opt.questions.empty?
            .subquestions= render :partial => "quby/answers/paged/item", :collection => opt.questions,  :locals => {:subquestion => true, :disabled => !checked}
    = radio_button_tag(question.key, "DESELECTED_RADIO_VALUE", false, :class => "hidden", :name => "answer[#{question.key}]")
