=marukufix(question.title, "answer_#{question.key}")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    - cls = [question.type]
    - cls << "subinput"  if subquestion
    - cls << question.as if question.as
    - case question.as
    - when :slider
      - minimum_validation = question.validations.detect {|i| i[:type] == :minimum }
      - minimum = minimum_validation && minimum_validation[:value]
      - maximum_validation = question.validations.detect {|i| i[:type] == :maximum }
      - maximum = maximum_validation && maximum_validation[:value]
      = range_field :answer, question.key, :autocomplete => question.autocomplete, 
                                           :class => cls, 
                                           :disabled => (disabled ? "" : nil),
                                           :min => nil,
                                           :max => maximum,
                                           :step => (question.type == :float ? 0.01 : 1)
      - if question.left_label and question.right_label
        %span.slider-label-left= raw question.left_label
        %span.slider-label-right= raw question.right_label
    - else
      = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => cls, :disabled => (disabled ? "" : nil), :size => (question.size || 30)
    %span.unit= raw question.unit
