!!!
:plain
  <!--[if lt IE 9]><html class="no-js lt-ie9"><![endif]-->
  <!--[if !IE]> --><html class="no-js"><!-- <![endif]-->
%head
  %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
  %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
  %title Vragenlijst
  %meta(name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no")

  = stylesheet_link_tag('quby/application', :media => 'screen, projection')
  = stylesheet_link_tag "quby/print", :media => "print"
  = csrf_meta_tags

  - if @custom_stylesheet.present?
    = stylesheet_link_tag @custom_stylesheet, :media => 'screen, projection'
  = javascript_include_tag "quby/application.js"

  - unless Rails.env.development?
    = javascript_include_tag "quby/disable_keys.js"
  = javascript_include_tag "quby/" + controller.controller_name
  :css
    #{yield(:extra_css)}
  :javascript
    $(function() {
      if (navigator.userAgent.indexOf("Trident/5") > -1)
        $("html").addClass("lt-ie9")
    });

%body
  #masthead

  #content
    .flash
      - if flash[:error]
        .error= flash[:error]
      - if flash[:alert]
        .alert= flash[:alert]
      - if flash[:notice]
        .notice= flash[:notice]
      - if flash[:success]
        .success= flash[:success]

    = yield

    .flash
      - if flash[:error]
        .error= flash[:error]
      - if flash[:alert]
        .alert= flash[:alert]
      - if flash[:notice]
        .notice= flash[:notice]
      - if flash[:success]
        .success= flash[:success]


  .x_container

  %noscript
    #noscript-warning Deze vragenlijst heeft ondersteuning voor JavaScript nodig.

:plain
  </html>
