- options = question.options.map do |option|
  - {selector: "#answer_#{question.key}_#{option.key}",
    showsQuestionsKeys: option.shows_questions || [],
    hidesQuestionsKeys: option.hides_questions || [],
    startChosen: (answer.send(question.key).to_s == option.key.to_s)}
:coffeescript
  $ ->
    optionAttributes = #{options.to_json}
    options = new Quby.Collections.QuestionOptions
    _.each optionAttributes, (attrs) ->
      option = new Quby.Models.QuestionOption
        showsQuestionsKeys: attrs.showsQuestionsKeys
        hidesQuestionsKeys: attrs.hidesQuestionsKeys
        startChosen: attrs.startChosen
      element = $(attrs.selector)[0]
      optionView = new Quby.Views.QuestionOptionView(model: option, el: element)
      options.add option
    question = new Quby.Models.Question(
      key: "#{question.key}"
      viewSelector: "#{viewSelector}",
      options: options,
      type: "#{question.type}"
      defaultInvisible: #{question.default_invisible}
    )
    window.quby.questions.add question
    window.quby.currentPanelQuestions.add question
