%label.main(for="answer_#{question.key}")
  = render :partial => "quby/v1/shared/main_label", :locals => {:question => question}
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    = text_field :answer, question.day_key || "#{question.key}_dd",   :placeholder => "DD",   :size => 2, :autocomplete => question.autocomplete, :class => subquestion ? "subinput" : "", :disabled => disabled ? "" : nil, data: {'field-key' => question.day_key || "#{question.key}_dd"}
    = "-"
    = text_field :answer, question.month_key || "#{question.key}_mm",   :placeholder => "MM",   :size => 2, :autocomplete => question.autocomplete, :class => subquestion ? "subinput" : "", :disabled => disabled ? "" : nil, data: {'field-key' => question.month_key || "#{question.key}_mm"}
    = "-"
    = text_field :answer, question.year_key || "#{question.key}_yyyy", :placeholder => "JJJJ", :size => 4, :autocomplete => question.autocomplete, :class => subquestion ? "subinput" : "", :disabled => disabled ? "" : nil, data: {'field-key' => question.year_key || "#{question.key}_yyyy"}

