- semantic_form_for(@answer, :url => questionnaire_answers_path(@questionnaire)) do |form|
  %table
    %thead
    %tbody
      - @answer.questionnaire.panels.each do |panel|
        / every panel gets its own row
        %tr
          %td&= panel[:title]
          %td
            %table
              - panel[:items].each do |item|
                %tr
                  - case item.class.name
                  - when "String"
                    %td= truncate(item, 30)
                  - when "Question"
                    - question = item
                    - case question.type
                    - when :open
                      %td= form.input question.key, :label => question.title, :as => :text, :value_method => :value
                    - when :radio
                      %td= form.input question.key, :label => question.title, :hint => question.description, :as => :radio, :collection => question.options.values, :label_method => :description, :value_method => :value
                  - else
                    ERROR Unsupported item type
                    = item.class.name
                    = item.inspect
      
  = form.buttons
