/ Begin _item.html.haml
.item{:class => ((not @answer.errors[item.key].empty?) ? "errors" : "")}
  - @answer.errors[item.key].each do |err|
    .error= err
  - case item.class.name
  - when "Items::Text"
    :markdown
      #{item}
  - when "Items::Question"
    - case item.type
    - when :open
      = render :partial => "item_question_open",   :locals => {:question => item}
    - when :string
      = render :partial => "item_question_string", :locals => {:question => item}
    - when :text
      = render :partial => "item_question_text",   :locals => {:question => item}
    - when :radio
      = render :partial => "item_question_radio",  :locals => {:question => item}
    - when :date
      = render :partial => "item_question_date",   :locals => {:question => item}
    - when :check_box
      = render :partial => "item_question_check_box",   :locals => {:question => item}
    - else
      %strong
        Error: unknown question type
        = item.type
        for question
        = item.key
  - else
    Error: unknown item type
    = item.class.name
    for question
    = item.key
/ End _item.html.haml