%li.string(id="answer_#{question.key}_input")
  %label(for="answer_#{question.key}")= question.title
  = text_field :answer, "#{question.key}_yyyy", :placeholder => "YYYY", :size => 4
  = "-"
  = text_field :answer, "#{question.key}_mm",   :placeholder => "MM",   :size => 2
  = "-"
  = text_field :answer, "#{question.key}_dd",   :placeholder => "DD",   :size => 2
