.checkbox(id="answer_#{question.key}_input")
  %label(for="answer_#{question.key}")= question.title
  %ol
    - question.options.each do |opt|
      %li
        - if question.uncheck_all_option == opt.key
          = check_box(:answer, opt.key, {:onClick => "setAllCheckboxes(this.checked, '#{question.check_all_option}', '#{question.uncheck_all_option}', '#{question.key}', '')"})
        - elsif question.check_all_option == opt.key
          = check_box(:answer, opt.key, {:onClick => "setAllCheckboxes(this.checked, '#{question.check_all_option}', '#{question.uncheck_all_option}', '#{question.key}', '1')"})
        - else
          = check_box(:answer, opt.key, {:onClick => "correctAllNothingCheckboxes(this.checked, '#{question.check_all_option}', '#{question.uncheck_all_option}')"})
        %label(for="answer_#{question.key}_#{opt.key}")= opt.description
        - if not opt.questions.empty?
          = render :partial => "item", :collection => opt.questions