/ Begin _panel.html.haml
- if panel_counter == panels.length-1
  - classes = ['panel', 'last-panel']
- else
  - classes = ['panel']

%fieldset{:id => "panel#{panel_counter}", :class => classes}
  /.panel_index= panel_counter + 1

  - if panel.title
    %h1&= panel.title

  = render :partial => "item", :collection => panel.items

  .prevnext
    .prev
      = submit_tag raw("&larr; Vorige vraag")
    .next
      = submit_tag raw("Volgende vraag &rarr;")
/ End _panel.html.haml