%h1 Answers for #{@questionnaire.title}

#actions
  = link_to "New", new_questionnaire_answer_path(@questionnaire)

%table
  %thead
    %tr
      %th(style="width: 50px") ID
      %th Scores
      %th(style="width: 150px") Created
      %th(style="width: 150px") Updated
      %th(style="width: 150px") Actions
  %tbody
    - @answers.each do |answer|
      %tr
        %td= answer.id
        /%td= answer.scores.inspect
        %td= time_ago_in_words(answer.created_at) + " ago"
        %td= time_ago_in_words(answer.updated_at) + " ago"
        %td
          = link_to "Show", questionnaire_answer_path(@questionnaire, answer)
          = link_to "Edit", edit_questionnaire_answer_path(@questionnaire, answer)
          = link_to "Destroy", questionnaire_answer_path(@questionnaire, answer), :method => :delete

