%h1 
  Answered 
  = @answer.questionnaire.key

%table
  %thead
    %tr
      %th(style="width: 50px") ID
      %th(style="min-width: 300px") Vraag
      %th(style="min-width: 500px") Antwoord
  %tbody
    - @answer.questionnaire.questions.each do |question|
      %tr
        %td= question.key
        %td= question.title
        %td
          - case question.type-
          - when :open
            = @answer.value[question.key]
          - when :radio 
            = h(question.options[ @answer.value[question.key] ].description )
          - else
            Unknown question type
            = question.type.inspect

