%h1 
  Answered 
  = @answer.class.to_s.demodulize.upcase

%table
  %thead
    %tr
      %th(style="width: 50px") ID
      %th(style="min-width: 300px") Vraag
      %th(style="min-width: 500px") Antwoord
  %tbody
    - @answer.questionnaire.class.questions.each do |question|
      %tr
        %td= question.key
        %td= question.title
        %td
          - case question.type
          - when :open
            = @answer.send(question.key)
          - when :radio 
            = h(question.options[ @answer.send(question.key).to_i ].description )
          - else
            Unknown question type
            = question.type.inspect

