/ Begin _item.html.haml
- subquestion ||= false
- disabled ||= false
- previous_item ||= nil
- itemclasses = [item.type, item.presentation]
- case item.class.name
- when "Quby::Items::Question"
  -# return if item.table
  -# return if @answer.send(item.key).blank?
  - extra_data = item.extra_data
  - doublewide = item.options.size <= 5
  - itemclasses << "notbulkitem"
  - itemclasses << "errors" unless @answer.errors[item.key].empty?
  - itemclasses << item.question_group if item.question_group
  - itemclasses << 'subitem' if subquestion
  - itemclasses << 'first' unless previous_item
- when "Quby::Items::Table"
  - return
- if item.raw_content and item.class.name != "Quby::Items::Text"
  - if item.raw_content.is_a?(Hash)
    -if item.raw_content[:print]
      = raw item.raw_content[:print]
    - elsif item.raw_content[:bulk]
      = raw item.raw_content[:bulk]
  - else
    = raw item.raw_content
- else

  - case item.class.name
  - when "Quby::Items::Text"
    - if item.display_in.andand.include?(:print)
      .item{:class => itemclasses}
        .text
          = raw item.text
  - when "Quby::Items::Question"
    .item{:class => itemclasses}
      - return if @answer.send(item.key).blank?
      - case item.type
      - when :string, :textarea, :integer, :float, :date
        = render :partial => "quby/answers/print/item_question_string", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :radio, :scale
        = render :partial => "quby/answers/print/item_question_radio", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :check_box
        - return if @answer.send(item.key).values.sum == 0
        = render :partial => "quby/answers/print/item_question_check_box", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - when :select
        = render :partial => "quby/answers/print/item_question_select", :locals => {:question => item, :subquestion => subquestion, :disabled => disabled}
      - else
        %strong
          Error: unknown question type
          = item.type
          for question
          = item.key
  - when "Quby::Items::Table"
    -# do nothing
  - else
    Error: unknown item type
    = item.class.name
/ End _item.html.haml
