-# frozen_string_literal: true
:javascript
  $(function() {
    Quby.init({
      questionnaire_key: #{raw @questionnaire.key.to_json},
      answer_value: #{raw @answer.value.to_json},
      flag_definitions: #{raw answer.questionnaire.flags.to_json},
      flag_values: #{raw answer.flags.to_json},
      textvars: #{raw @answer.textvars.to_json}
    });

    // Initialize all panels in bulk, activate first panel otherwise
    if(isBulkOrSinglePage) {
      initShowsHides("all_panels");
    } else {
      activatePanel($(".panel:first"), true);
    }
  });
