%h1== Editing #{@questionnaire.key}

- if not @questionnaire.errors.empty?
  .definition-error
    - @questionnaire.errors.each do |err|
      %p= err[1]

- form_for(@questionnaire, :url => admin_questionnaire_path(@questionnaire)) do |form|
  = form.text_area "definition"
  = submit_tag "Update Questionnaire"

= link_to "Try out this questionnaire. (Remember to save first)", test_admin_questionnaire_path(@questionnaire)

:javascript
  editAreaLoader.init({
    id: "questionnaire_definition" // id of the textarea to transform
    ,start_highlight: true // if start with highlight
    ,allow_resize: "both"
    ,allow_toggle: true
    ,word_wrap: true
    ,language: "en"
    ,syntax: "ruby"
    }); 