%h1= @questionnaire.key

See history for this item: 
- versions = @questionnaire.versions.length
- if versions > 0
  - if @current_version < versions
    - if @current_version > 0
      = link_to "Previous", :version => @current_version - 1

    - if @current_version + 1 < versions
      = link_to "Next", :version => @current_version + 1
    - else
      = link_to "Next", :version => nil
  - else
    = link_to "Previous", :version => @current_version - 1

%pre= highlight @questionnaire.definition || @questionnaire.definition