=marukufix(question.title, "answer_#{question.key}")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields(id="answer_#{question.key}_input")
    - question.options.each do |opt|
      - next if opt.inner_title
      - checked = @answer.send(opt.key) == 1
      - next if( not checked)
      .option        
        .labelwrapper
          %label(for="answer_#{opt.key}")
            %span
              :markdown
                #{raw opt.description}
        - unless opt.questions.empty?
          .subquestions= render :partial => "answers/paged/item", :collection => opt.questions,  :locals => {:subquestion => true, :disabled => !checked}
