%h1 Functions

#actions
  = link_to "New", new_admin_function_path

%table
  %thead
    %tr
      %th(style="width: 50px") ID
      %th Name
      %th(style="width: 150px") Documentation
      %th(style="width: 150px") Created
      %th(style="width: 150px") Updated
      %th(style="width: 150px") Actions
  %tbody
    - @functions.each do |function|
      %tr{:class => cycle("odd", "even")}
        %td= function.id
        %td= link_to(function.name, edit_admin_function_path(function))
        %td= truncate(function.documentation)
        %td= time_ago_in_words(function.created_at) + " ago"
        %td= time_ago_in_words(function.updated_at) + " ago"
        %td
          = link_to "Destroy", admin_function_path(function), :method => :destroy