!!!HTML5
%html
  %head
  %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
  %title
    Quby
    = " / " + yield(:title) if yield(:title)
  = stylesheet_link_tag "reset"
  = stylesheet_link_tag "admin/screen"
  = stylesheet_link_tag "syntax"
  = stylesheet_link_tag "formtastic"
  = stylesheet_link_tag "formtastic_changes"
  = javascript_include_tag "jquery-1.4.3.min.js"
  = javascript_include_tag "application.js"
  = javascript_include_tag controller.controller_name

  %body
    #masthead
      %h1
        %strong Quby

      #user
        - if user_signed_in?
          Signed in as #{current_user.email}. Not you?
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign in", new_user_session_path
          or
          = link_to "create an account", new_user_registration_path

      #nav
        %ul
          %li= tab_to "Questionnaires", admin_questionnaires_path
          %li= tab_to "Function Library", admin_functions_path

    #content
      - flash.keys.each do |k|
        #flash(class="#{k}")= flash[k]

      = yield

    #mastfoot
      Quby
