!!!HTML5
%html{"class" => "no-js"}
  %head
    %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
    %title= content_for(:page_title) || "Roqua Vragenlijsten"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'redmond/jquery-ui-1.8.7.custom.css'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.4.3.min.js"
    = javascript_include_tag "jquery.ba-hashchange.min.js"
    = javascript_include_tag "jquery.placeholder.js"
    //= javascript_include_tag "jquery.address-1.3.min.js"  
    = javascript_include_tag "jquery.custominput.js"
    = javascript_include_tag "jquery-ui-1.8.7.custom.min.js"
    - unless Rails.env.development?
      = javascript_include_tag "disable_keys.js"
    //= javascript_include_tag "modernizr-1.5.min.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag controller.controller_name
  
  %body
    #masthead

    #content
      .flash
        - if flash[:error]
          .error= flash[:error]
        - if flash[:alert]
          .alert= flash[:alert]
        - if flash[:notice]
          .notice= flash[:notice]
        - if flash[:success]
          .success= flash[:success]
      = yield

    #mastfoot
      RoQua Vragenlijsten

    %noscript
      #noscript-warning Deze vragenlijst heeft ondersteuning voor JavaScript nodig.
