!!!XML
!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en-us"}
  %head
  %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
  %title 
    Quby
    = " / " + yield(:title) if yield(:title)
  = stylesheet_link_tag "reset"
  = stylesheet_link_tag "screen"
  = stylesheet_link_tag "syntax"
  = stylesheet_link_tag "formtastic"
  = stylesheet_link_tag "formtastic_changes"
  = javascript_include_tag "jquery-1.3.2.min.js"
  = javascript_include_tag "application.js"
  = javascript_include_tag controller.controller_name

  %body
    #masthead 

    #content
      = yield
      
    #mastfoot
      Quby
